/* De esta manera podemos agregar fuentes de Google Font

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
}

h2, h3, p {
  font-family: 'Oswald', sans-serif;
}

a {
  font-family: 'Bruno Ace', cursive;
} */

.imagen-de-tesla {
  width: 300px;
}

/* Con esto agregamos bordes a los elementos

.imagen-de-tesla {
  width: 300px;
  border-width: 5px;
  border-color: blue;
  border-style: solid dashed double dotted;
} */

/* Con esto redondeamos los bordes e incluso podemos lograr imagenes redondeadas

#bordes-redondeados {
  border-radius: 50%;
} */

/* Para cambiar el fondo de los div

div {
  background-color: blue;
}

.contenedor-listas {
  background-color: silver;
} */

/* Acá utilizamos ID's

#titulo-principal {
  font-size: 30px;
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#imagen-spark-gt{
  border-radius: 50%;
  border-width: 2px;
  border-color: aqua;
  border-style: solid;
}

#lista-me-gustan {
  font-size: 15px;
  color: aquamarine;
}

#lista-no-gustar {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
} */

img[alt]{
  border-radius: 50%;
}

img[alt="Tesla Model 3"]{
  border: solid black;
}

/* Con esto seleccionamos todos los elementos que tengal el atributo type como radio */

[type="radio"]{
  margin: 5px;
}

input[type="checkbox"]{
  margin: 8px;
}

a[href="https://www.tesla.com"]{
  color: green;
  text-decoration: none;
  font-weight: bold;
}