h1{
    font-size: 6px;
}
#datosp{
    border: 2px solid black;
    
}
#usointernet{
    border: 2px;
    border-style: solid;
}
#deportes{
    border: 2px;
    border-style: solid;
}
#musica{
    border: 2px;
    border-style: solid;
}

div {
    border: solid;
    border-color: black;
}
